default:
  image: gumjoe/wacc-ci-scala:x86

stages:
  - build
  - test

build:
  stage: build
  script:
    - scala compile .


test:
  stage: test
  dependencies:
    - build
  script:
    - scala test . -- -u reports
  artifacts:
    when: always
    paths:
      - reports/
    reports:
      junit: reports/*.xml
